*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background: lightskyblue;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.calculator{
    background: rgb(5, 165, 177);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /* to add space within buttons */
    margin: 10px;

}
/* making the answer button diplay across buttons from the right */
form .displayAns{
display: flex;
justify-content: flex;
margin: 20px 0;

}

form .displayAns input{
    text-align: right;
    flex: 1;
    font-size:45px;
    box-shadow: none;
}

/* making the enter or answer button take up to 2 button spaces */

form input.equalsButton{
width: 145px;
}

form input.operatorButtons{
    color: rgb(4, 255, 242);
    background: #a79b9bce;
}

.button:hover {
      background:#19ac94 !important;
      transition: 0.7s;
      color: white;
  }